{% extends "app/base.html" %}

{% block content %}


<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <form class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="検索...">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
    </nav>

<div class="container-fluid mt-3">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">ハッシュタグ検索</h1>
    </div>

    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
            <div class="card h-100">
                <a href="">
                    <img class="card-img-top" src="{{ media_url }}" alt="">
                </a>
                <div class="card-body">
                    <p class="card-text">{{ caption }}</p>
                    <p>投稿日：{{ timestamp }}</p>
                    <p>エンゲージメント：{{ eng }}</p>
                    <p>インプレッション：{{ imp }}</p>
                    <p>リーチ：{{ reach }}</p>
                    <p>保存：{{ save }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Earnings (Monthly)
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}