{% extends "app/base.html" %}

{% block content %}

<div class="container-fluid mt-3">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">アカウント情報</h1>
    </div>

    {% for key, value in account_data.items %}
        {% if key == 'username' %}
        <p>ユーザー名: {{value}}</p>
        {% endif %}

        {% if key == 'profile_picture_url' %}
        <div class="profile_picture">
            <img class="card-img-top rounded-circle" src="{{value}}" alt="">
        </div>
        {% endif %}

        {% if key == 'biography' %}
        <p>自己紹介: {{value}}</p>
        {% endif %}

        <div class="row">
            {% if key == 'follows_count' %}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    フォロー数
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{value}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if key == 'followers_count' %}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    フォロワー数
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{value}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if key == 'media_count' %}
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    投稿数
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{value}}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-xl-3 col-md-6">
            <h2>フォロワー数</h2>
            <canvas id="follower_count_chart"></canvas>
        </div>
        <div class="col-xl-3 col-md-6">
            <h2>プロフィールビュー</h2>
            <canvas id="profile_views_chart"></canvas>
        </div>
        <div class="col-xl-3 col-md-6">
            <h2>インプレッション</h2>
            <canvas id="impressions_chart"></canvas>
        </div>
        <div class="col-xl-3 col-md-6">
            <h2>リーチ</h2>
            <canvas id="reach_chart"></canvas>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    const follower_count_ctx = document.getElementById('follower_count_chart').getContext('2d');
    const follower_count_data = JSON.parse('{{ follower_count_data|safe }}');
    const follower_count_chart = new Chart(follower_count_ctx, {
        type: 'line',
        data: {
            labels: follower_count_data.time,
            datasets: [{
                label: 'フォロワー数',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: follower_count_data.val
            }]
        },
        options: {}
    });

    const profile_views_ctx = document.getElementById('profile_views_chart').getContext('2d');
    const profile_views_data = JSON.parse('{{ profile_views_data|safe }}');
    const profile_views_chart = new Chart(profile_views_ctx, {
        type: 'line',
        data: {
            labels: profile_views_data.time,
            datasets: [{
                label: 'プロフィールビュー',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: profile_views_data.val
            }]
        },
        options: {}
    });

    const impressions_ctx = document.getElementById('impressions_chart').getContext('2d');
    const impressions_data = JSON.parse('{{ impressions_data|safe }}');
    const impressions_chart = new Chart(impressions_ctx, {
        type: 'line',
        data: {
            labels: impressions_data.time,
            datasets: [{
                label: 'インプレッション',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: impressions_data.val
            }]
        },
        options: {}
    });

    const reach_ctx = document.getElementById('reach_chart').getContext('2d');
    const reach_data = JSON.parse('{{ reach_data|safe }}');
    const reach_chart = new Chart(reach_ctx, {
        type: 'line',
        data: {
            labels: reach_data.time,
            datasets: [{
                label: 'リーチ',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: reach_data.val
            }]
        },
        options: {}
    });

</script>

{% endblock %}