{% extends "app/base.html" %}

{% block content %}

<div class="container-fluid mt-3">
    <h3>ダッシュボード</h3>
    <div class="d-flex align-items-center justify-content-center flex-column">
        <div class="profile_picture">
            <img class="card-img-top rounded-circle" src="{{ profile_picture_url }}" alt="">
        </div>
        <h4 class="my-3">{{ username }}</h4>
    </div>
    <h4 class="mt-4">サマリー</h4>
    <div class="card-columns">
        <div class="card p-3">
            <h5>フォロワー数</h5>
            <div class="display-4">{{ followers_count }}</div>
            <p>2020-11-05</p>
        </div>
        <div class="card p-3">
            <h5>フォロー数</h5>
            <div class="display-4">{{ follows_count }}</div>
            <p>2020-11-05</p>
        </div>
        <div class="card p-3">
            <h5>投稿数</h5>
            <div class="display-4">{{ media_count }}</div>
            <p>2020-11-05</p>
        </div>
    </div>

    <h4 class="mt-4">推移</h4>
    <div class="row">
        <div class="col-4">
            <div class="card p-3">
                <canvas id="follower_count_chart"></canvas>
            </div>
        </div>
        <div class="col-4">
            <div class="card p-3">
                <canvas id="follows_count_chart"></canvas>
            </div>
        </div>
        <div class="col-4">
            <div class="card p-3">
                <canvas id="ff_chart"></canvas>
            </div>
        </div>
    </div>

    <h4 class="mt-4">最新投稿</h4>
    <div class="card p-3">
        <div class="row">
            <div class="col-md-4">
                <a href="{{ permalink }}">
                    <img class="card-img-top" src="{{ media_url }}" alt="">
                </a>
            </div>
            <div class="col-md-8">
                <table class="table table-sm">
                    <tr>
                        <td>投稿日</td>
                        <td>{{ timestamp }}</td>
                    </tr>
                    <tr>
                        <td>インプレッション</td>
                        <td>{{ imp }}</td>
                    </tr>
                    <tr>
                        <td>リーチ数</td>
                        <td>{{ reach }}</td>
                    </tr>
                    <tr>
                        <td>いいね数</td>
                        <td>{{ like_count }}</td>
                    </tr>
                    <tr>
                        <td>コメント数</td>
                        <td>{{ comments_count }}</td>
                    </tr>
                    <tr>
                        <td>保存数</td>
                        <td>{{ save }}</td>
                    </tr>
                    <tr>
                        <td>エンゲージメント</td>
                        <td>{{ eng }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    const follower_count_ctx = document.getElementById("follower_count_chart");
    const follower_count = new Chart(follower_count_ctx, {
        type: 'line',
        data: {
            labels: ['2020-11-04', '2020-11-05', '2020-11-06'],
            datasets: [
                {
                    label: 'フォロワー数',
                    data: [100, 120, 110],
                    borderColor: "rgba(255,0,0,1)",
                    backgroundColor: "rgba(0,0,0,0)"
                }
            ],
        },
        options: {}
    });

    const follows_count_ctx = document.getElementById("follows_count_chart");
    const follows_count = new Chart(follows_count_ctx, {
        type: 'line',
        data: {
            labels: ['2020-11-04', '2020-11-05', '2020-11-06'],
            datasets: [
                {
                    label: 'フォロー数',
                    data: [100, 120, 110],
                    borderColor: "rgba(255,0,0,1)",
                    backgroundColor: "rgba(0,0,0,0)"
                }
            ],
        },
        options: {}
    });

    const ff_ctx = document.getElementById("ff_chart");
    const ff = new Chart(ff_ctx, {
        type: 'line',
        data: {
            labels: ['2020-11-04', '2020-11-05', '2020-11-06'],
            datasets: [
                {
                    label: 'フォロー・フォロワー比率',
                    data: [100, 120, 110],
                    borderColor: "rgba(255,0,0,1)",
                    backgroundColor: "rgba(0,0,0,0)"
                }
            ],
        },
        options: {}
    });
</script>

{% endblock %}